<!DOCTYPE html>
<html lang="zxx">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Steady News</title>
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="vendors/aos/dist/aos.css/aos.css" />
    <link rel="stylesheet" href="vendors/owl.carousel/dist/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="vendors/owl.carousel/dist/assets/owl.theme.default.min.css" />
    <!-- End plugin css for this page -->
    <link rel="shortcut icon" href="images/favicon.png" />
    <!-- inject:css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- endinject -->
  </head>

  <body>
   {{{body}}}
  </body>
</html>
